extends layout

block content
  h1= title
  if currentUser 
    for message in messages  
      p= message.text
      if currentUser.member_status
        p= message.user.user_name
        p= message.date_formatted
      else
        p Anonymous
      if currentUser.admin_status
        p 
          a(href=`/delete-message/${message._id}`) Delete Message
  else 
    p You are not signed in! You do not have permission to see any messages.